body {
	background: #1b2a49;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.title {
    color: gold;
    text-align: center;
    letter-spacing: 14px;
    font-size: 24px;
    margin: 40px auto;
}
.tab {
	padding: 20px;
    letter-spacing: 2px;
    border-radius: 10px 10px 0 0;
	border: 2px solid gold;
	border-bottom: 0px;	
	display: inline-block; 
    color: gold;
	cursor: pointer;
}
.current-tab { 
    background: gold;
    color: #333;
}
a {
    color:blue;
}
.tabcontent {
	padding: 40px;
}
#tab-content {
	overflow: hidden;
	position: relative;
}
.tabcontent {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	width: 100%;
	border: 2px solid gold;
	border-top: 0px;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
.tabcontent:first-child {
	position: relative;	
}
.tabcontent.tab-active {
    color: #333;
    border-top: 0px;
    display: block;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }

